<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ActorRating Report</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1 style="text-align: center;">Actor Ratings: Report</h1>
    <br><br>
    <br>
    <br>
    <button type="button" class="collapsible"><b>FILTER BY ACTOR NAME</b></button>
    <div class="content">
        <form action="/report_submit" method="post">
            <label for="Actor">Actor Name:</label>
            <input type="text" id="Actor" name="Actor">
            <br><br>
            <button type="submit">Submit</button>
        </form>
        <br><br>
        <table border=1 style="text-align: center; align-items: center;margin-left:auto;margin-right:auto;">
            <tbody>
                <tr>
                    <th>Actor Name</th>
                    <th>Rating</th>
                    <th>Review</th>
                    <th>Timestamp</th>
                </tr>
                
                {% for row in actorInfo %}
                    <tr>
                        {% for item in row %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>
    <button type="button" class="collapsible"><b>FILTER BY MOVIE NAME</b></button>
    <div class="content">
        <form action="/report_submit" method="post">
            <label for="Movie">Movie Name:</label>
            <input type="text" id="Movie" name="Movie">
            <br><br>
            <button type="submit">Submit</button>
        </form>
        <br><br>
        <table border=1 style="text-align: center; align-items: center;margin-left:auto;margin-right:auto;">
            <tbody>
                <tr>
                    <th>Actor Name</th>
                    <th>Rating</th>
                    <th>Review</th>
                    <th>Movie Name</th>
                    <th>Genre</th>
                    <th>Timestamp</th>
                </tr>
                
                {% for row in movieInfo %}
                    <tr>
                        {% for item in row %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>
    <button type="button" class="collapsible"><b>FILTER BY RATING</b></button>
    <div class="content">
        <form action="/report_submit" method="post">
            <label for="Ratings">Rating:</label>
            <input type="text" id="Rating" name="Rating">
            <br><br>
            <button type="submit">Submit</button>
        </form>
        <br><br>
        <table border=1 style="text-align: center; align-items: center;margin-left:auto;margin-right:auto;">
            <tbody>
                <tr>
                    <th>Actor Name</th>
                    <th>Rating</th>
                    <th>Review</th>
                    <th>Movie Name</th>
                    <th>Genre</th>
                    <th>Timestamp</th>
                </tr>
                
                {% for row in ratingInfo %}
                    <tr>
                        {% for item in row %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="button-container">
        <a href="http://127.0.0.1:5000/insert" type="button" class="bottom"><button>Insert</button></a>
        <a href="http://127.0.0.1:5000/delete" type="button" class="bottom"><button>Delete</button></a>
        <a href="http://127.0.0.1:5000/update" type="button" class="bottom"><button>Update</button></a>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
        </script>
</body>
</html>